<div class="col">
    <div class="card border-light h-100" style="width: 15rem;">
        <img src="https://asiaebuy.com/img/default.jpg"
            class="card-img-top img-fluid" alt="manzanas">
        <div class="card-body">
            <h5 class="card-title text-truncate"> {{producto.nombre_producto}} </h5>
            <p class="card-text"> {{ producto.unidad_medida }} </p>
            <p class="card-text">S/.<strong> {{ producto.precio_unitario_producto }} </strong></p>
        </div>
        <div class="card-footer bg-transparent border-light p-0">
            <div class="d-grid">
                <button id="{{ producto.sku }}" onclick="agregarProducto(this);" value="{{producto.sku}}" class="btn btn-dark">Agregar</button>
            </div>
        </div>
    </div>
</div>

