{% extends 'base.html' %}

{% block title %}Productos{% endblock %}

{% load productos_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="d-flex justify-content-evenly align-items-center flex-column bd-highlight mb-3">
            <p class="h3">Ingrese los datos del producto</p>
            <form>
                <div class="container">
                    <div class="row pb-3">
                        <div class="col text-center">
                            <input class="form-control" type="text" placeholder="SKU" aria-label="sku" required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                            <div class="invalid-feedback">
                                Complete este campo, por favor.
                            </div>
                        </div>
                        <div class="col text-center">
                            <input class="form-control" type="text" placeholder="Nombre" aria-label="nombre_producto">
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col text-center">
                            <select class="form-select" aria-label="id_categoria">
                                <option selected>-Categorias-</option>
                                <option value="1">Carnes</option>
                                <option value="2">Pescados y mariscos</option>
                                <option value="3">Bebidas</option>
                            </select>
                        </div>
                        <div class="col text-center">
                            <select class="form-select" aria-label="id_marca">
                                <option selected>-Marca-</option>
                                <option value="1">La Calera</option>
                                <option value="2">San Fernando</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col text-center">
                            <input type="text" class="form-control" placeholder="Unidad de medida"
                                aria-label="unidad_medida">
                        </div>
                        <div class="col text-center">
                            <input type="number" class="form-control" placeholder="Precio unitario"
                                aria-label="precio_unitario_producto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-primary" type="submit">Cargar producto</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}